#categories {
  width: 80%;
  margin: 50px auto;
}

#categories ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#categories ul .category {
  margin: 10px;
  padding: 10px;
  border: 2px solid rgb(248, 190, 82);
  border-radius: 4px;
  width: 320px;
  height: auto;
  background-color: rgb(255, 246, 246);

}

#categories ul .category a {
  text-decoration: none
}

#categories ul .category .category-title {
  color: black;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

#categories ul .category img {
  display: block;
  max-width: 100%;
  height: auto;
}