.category-subtitle {
  font-size: 35px;
  color: black;
  text-align: center;
  margin-top: 50px;
}

hr {
  width: 100%;
  margin: 30px auto;
  border-top: 2px solid orange;
}

#recipes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  margin: 50px auto;
}

#recipes .recipe-preview {
  width: 240px;
  height: auto;
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(248, 190, 82);
  border-radius: 4px;
  background-color: rgb(255, 246, 246);
}

#recipes .recipe-preview img {
  display: block;
  max-width: 100%;
  height: auto;
}

#recipes .recipe-preview a {
  text-decoration: none;
}

#recipes .recipe-preview .recipe-title {
  color: black;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
  text-align: center;
}

@media (max-width: 450px) {
  #recipes {
    justify-content: stretch;
    width: 300px;
  }
}